@import "../index.scss";

#signup {

    h2{
        color: $red;
        text-align: left;
        margin-bottom: 1.0rem;
    }

    #signup-form {
        text-align: center;
        max-width: 700px;
        overflow-y: auto;
        margin: auto;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1.0rem;

        @media only screen and (max-width: 768px) {
            grid-template-columns: 100%;
            // grid-auto-flow: row;
            // font-weight: 800;
        }

        label {
            text-align: right;
            grid-column: 1;
            margin-right: 1.0rem;
            color: $blue-dark;

            @media only screen and (max-width: 768px) {
                text-align: left;
            }
        }

        input, select, textarea {
            text-align: left;
            min-width: 250px;
            margin: 0.25rem 0;
            grid-column: 2;
            background-color: white;
            border: none;
            font-size: 1.0rem;
            padding: 0.3rem 1.0rem;
            

            @media only screen and (max-width: 768px) {
                grid-column: 1;
            }
        }

        textarea {
            height: 5.0rem;
        }

        .error {
            grid-column: 2;
            color: $red;
            font-size: 0.8rem;
            margin: 0.15rem 1.0rem 1.0rem auto;

            @media only screen and (max-width: 768px) {
                grid-column: 1;
            }
        }
        

        button {
            grid-column: 1 /span 2;
            background-color: $red;
            color: white;
            width: 15rem;
            margin: 2.0rem auto;
    
            &:hover {
                background-color: $blue;
            }
        }
    }
    
}