@import '../../index.scss';

#search-side-component {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: min(30vw, 400px);
    margin: 1.0rem;
    overflow: hidden;
    height: calc($page-height - 3.0rem);

    

    #search-header {
        display: flex;
        flex-direction: column;

        #search-header-menu {
            background-color: $red;
            color: white;
            font-weight: 700;
            border: none;

            text-align: center;
            padding: 0.5rem;

            &:hover, &:active {
                cursor: pointer;
                
            }

            option {
                font-weight: 500;
                background-color: white;
                color: black;
                padding: 0.3rem;

                &:hover, &:active {
                    background-color: $blue;
                    cursor: pointer;
                    
                }
            }
        }

        #search-header-search {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            width: 100%;

            #search-header-field {
                width: 100px;
                flex-grow: 1;
                margin: 0.5rem 1.0rem 0 0.5rem;
                text-align: center;
            }

            #search-header-filter {
                font-size: 0.8em;
                padding: 0.15rem 0.25rem;
                margin: auto 0 0 0;
                text-align: center;

                &:hover, &:active {
                    cursor: pointer;                    
                }
    
                option {
                    // font-size: 0.6em;
                    font-weight: 500;
                    background-color: white;
                    color: $blue;
                    padding: 0.3rem;
                    text-align: center;
    
                    &:hover, &:active {
                        background-color: $blue;
                        cursor: pointer;
                        
                    }
                }                
            }
        }
    }

    #search-list {
        overflow-y: scroll;
        height: 100%;
        padding: 0.5rem;
        border-left: 2px solid $blue;
        border-radius: 0;

        .search-label-item,
        .search-profile-item, 
        .search-circle-item, 
        .search-circle-announcement-item, 
        .search-circle-event-item, 
        .search-prayer-request-item,
        .search-prayer-request-comment-item,
        .search-content-archive-item {
            display: flex;
            flex-direction: column;
            padding: 0.65rem 0.5rem;
            border: 1px solid transparent;
            border-bottom-color: $gray-light;
            border-radius: 0;

            &:hover {
                border-color: $blue;
                border-radius: $radius;
                cursor: grab;
                
                .name {
                    cursor: grab;
                }
            }

            .detail-header-box,
            .profile-detail-box,
            .circle-detail-box,
            .event-detail-box,
            .tag-detail-box {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                flex-wrap: wrap;
            }

            .circle-announcement-detail-box {
                display: flex;
                width: 100%;
            }

            .tag-detail-box {
                align-items: center;
                justify-content: flex-end;
            }

            img {
                object-fit: cover;
                margin: 0 auto auto 0;
                height: 50px;
                // width: 50px;
                margin-right: 0.75rem;
                border-radius: 50%;
            }

            .icon {
                display: inline;
                object-fit: contain;
                width: auto;
                height: 1.25em;
                margin: 0 0.25em 0 0.5rem;
            }

            .name, .count {
                width: fit-content;
                font-weight: 700;
                color: $red;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .date {
                width: fit-content;
                font-size: 0.8rem;
                text-align: right;
                margin: 0 0 0 auto;
            }

            .count {
                font-size: 1.5em;
                margin: 0;
            }

            .message, .comment {
                display: inline;
                border: none;
                margin: 0;
                font-size: 1.0rem;
                color: $red;
            }

            p, .id {
                display: inline;
                margin: 0;
                margin-left: 0.5rem;
                padding-left: 0.5rem;
                border: 1px solid transparent;
                border-left: 1px solid lightgray;
                color: darkgray;
                font-size: 0.7em;
                font-weight: 400;
                margin-right: auto;

                &.comment {
                    margin-left: 0;
                    padding-left: 0;
                }
            }

            .id {
                margin: 0;
                margin-left: auto;
                border: none;
                white-space: nowrap;
            }
        }

        //Exceptions
        .search-label-item {
            padding: 0;
            border-bottom: none;

            &:hover {
                border-color: transparent;
                cursor: zoom-in;
            }

            .title {
                margin-bottom: 0;
                font-weight: 600;
                text-decoration: underline;
                letter-spacing: 0.03em;
                cursor: zoom-in;
            }
        }

        .search-circle-item,
        .search-circle-event-item,
        .search-content-archive-item {
            flex-direction: column;

            img {
                object-fit: contain;
                margin: 0 auto auto 0;
                width: 100%;
                border-radius: $radius;
                height: 100px;
            }
        }

        .search-prayer-request-item {

            .profile-detail-box {
                align-items: center;

                p {
                    color: $blue;
                    font-size: 0.9em;
                    margin-right: auto;
                }
            }
        }
    }

    .search-item-button-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        margin-top: 0.25rem;


        .search-item-alternative-button, .search-item-primary-button {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 0.7em;
            padding: 0.15rem 0.5rem;
            margin: 0 0.5rem;
            background-color: white;
            color: $blue;
            border: 1px solid transparent;
            white-space: nowrap;

            &:hover {
                color: white;
                background-color: $blue;
                border: 1px solid transparent;
            }
        }

        .search-item-primary-button {
            border-color: $blue;
        }
    }
}