@import "../index.scss";

.form-page {
    display: flex;
    flex-direction: column;
    justify-items: center;
    // overflow-x: hidden;

    h2 {
        color: $red;
        text-align: left;
        margin-bottom: 1.0rem;
    }

    hr {
        width: 100%;
        max-width: 700px;
        border: none;
        border-bottom: 1px solid $blue;
    }

    // #accessProfilesForm, #credentialSelectWrapper {
        // overflow: hidden;
    // }

    form {
        text-align: center;
        overflow-x: hidden;
        overflow-y: auto;
        margin: auto;
        justify-items:first baseline;

        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 768px) {
            grid-template-columns: 100%;
        }

        

        .inputWrapper {
            grid-column: 2;
            max-width: 700px;

            display: grid;
            grid-template-columns: 35% auto;
            grid-column-gap: 1.0rem;

            label {
                text-align: right;
                grid-column: 1;
                color: $blue-dark;
    
                @media only screen and (max-width: 768px) {
                    text-align: left;
                }
            }
    
            input, select, textarea {
                grid-column: 2;               
    
                @media only screen and (max-width: 768px) {
                    grid-column: 1;
                }
            }
        
            .validation {
                grid-column: 2;
                color: $red;
                font-size: 0.7rem;
                margin: 0 0 1.0rem auto;
    
                @media only screen and (max-width: 768px) {
                    grid-column: 1;
                }
            }   

            #edit-role-section {
                grid-column: 2;
                display: flex;
                flex-direction: column;

                @media only screen and (max-width: 768px) {
                    grid-column: 1;
                }

                #role-listing {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    h5 {
                        margin-left: 1.0rem;
                        font-weight: 500;
                    }
                    
                    button {
                        margin: 0;
                        color: $red;
                        background-color: transparent;
                        font-size: 1.0rem;
                        font-weight: 800;
                    }
                }

                #role-select {

                    option {
                        width: 100%;
                    }
                }

                #token-entry {
                    display: flex;
                    flex-direction: row;

                    @media only screen and (max-width: 768px) {
                        flex-direction: column;
                    }

                    input {
                        grid-column: 1;
                        width: 100%;
                    }

                    button {
                        grid-column: 2;
                        margin: auto;
                        margin-left: 1.0rem;
                        font-size: 1.0rem;
                        padding: 0.2rem 1.0rem;

                        @media only screen and (max-width: 768px) {
                            margin: auto;
                        }
                    }
                }
            }
        }

        #submit-button {
            grid-column: 1 /span 2;
            width: 15rem;
    
            &:hover {
                background-color: $blue;
            }
        }

        #alternative-button {
            grid-column: 1 /span 2;
            background-color: transparent;
            color: $red;
            border-top: 1px solid $blue;
            border-radius: 0;
            min-width: 15rem;
    
            &:hover {
                color: white;
                background-color: $blue;
                border: 1px solid $blue;
            }
        }
    }    
}