$background: white;
$red: #B12020;
$blue: #62D0F5;
$blue-dark: #003f89;
$gray-dark: #303030;
$gray-light: #A9A9A9;
$t-black: rgba(0, 0, 0, 0.7);
$t-black-dark: rgba(0, 0, 0, 0.9);
$t-white: rgba(255, 255, 255, 0.2);
$radius: 4px;

$page-height: 100vh;

html {
  font-size: 22px;
  color: black;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 0.04rem;
  background-color: $background;

  scroll-behavior: smooth;
  overflow-x: hidden;

  @media screen and (max-width: 1200px) {
    font-size: 15px;
  }

  @media screen and (max-width: 991px) {
    font-size: 14px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

body {
  margin: 0;
  overflow: hidden;
}


.none {
  display: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;

}

div,
label,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: transparent;
  border: none;
  border-radius: $radius;
  font-weight: 300;
  margin: 0.3rem 0;
}

div {
  margin: 0;
  padding: 0;
}

button {
  margin: 1.0rem auto;
  padding: 0.3rem 1.0rem;
  font-family: 'EB Garamond';
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;

  background-color: $red;
  color: white;

  &:hover {
    background-color: $blue;
  }
}

NavLink, Link {
  text-decoration: none;
}

h1,
.header {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 2.0rem;
  color: $red;
}

h2,
.sub-header {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 1.50rem;
  color: $red;
}

h3,
h4,
label,
.title {
  font-family: 'EB Garamond';
  font-weight: 500;
  font-size: 1.15rem;
  color: $blue;
}

h5,
h6,
.text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.0rem;
}

input, select, textarea {
  text-align: left;
  margin: 0.25rem 0;
  padding: 0.15rem 0.7rem;
  border: 1px solid $blue;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 0.9rem;
  background-color: white;



}

input, textarea {
    border: none;
    border-bottom: 1px solid $blue;
    border-radius: 0;

    &:hover, &:active {
        border: 1px solid $blue;
        border-radius: 4px;
    }
}

textarea {
  height: 5.0rem;
}

.validation {
  color: $red;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 0.7rem;
  font-style: oblique;
  margin: 0 0 1.0rem auto;
}

.alternative-button {
  background-color: transparent;
  color: $blue;
  font-size: 0.9em;
  min-width: 15rem;

  &:hover {
      color: white;
      background-color: $blue;
      border: 1px solid $blue;
  }
}

//Animations
@keyframes zoom-pulse {
  0%,100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes border-pulse-red {
  0%,100% {
    border-color: transparent;
  }
  50% {
    border-color: $t-white;
  }
}

@keyframes border-pulse-blue {
  0%,100% {
    border-color: transparent;
  }
  50% {
    border-color: $blue;
  }
}

@keyframes outline {
  0% {
    background-size: 0 1px,
      1px 0,
      0 1px,
      1px 0;
  }

  100% {
    background-size: 100% 1px,
      1px 100%,
      100% 1px,
      1px 100%;
  }
}

@keyframes trace {
  0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  25% {
      background-size:    100% 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  50% {
      background-size:    100% 3px,
                          3px 100%,
                          0 3px,
                          3px 0;
  }
  75% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 0;
  }
  100% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 100%;
  }
}